<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/basicStyle.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/logReg.css}">
</head>
<body>
<h2>Login Page</h2>




<form th:action="@{/api/login}" id="loginForm" th:object="${user}" method="post">
  <div>
    <label for="name">Username:</label>
    <input type="text" id="name" th:field="*{name}" required />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

<!--<form id="loginForm">
  <div>
    <label for="name">Username:</label>
    <input type="text" id="name" name="name" required />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>


<script>
  document.getElementById('loginForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const name = document.getElementById('name').value;
    const password = document.getElementById('password').value;

    const loginData = {
      name: name,
      password: password
    };
    fetch('/api/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(loginData)
    })
            .then(response => response.json())
            .then(data => {
              const token = data.token;
              // Збереження токену у localStorage
              if (token) {
                localStorage.setItem('jwtToken', token);
                alert('Login successful!');
                window.location.href = '/parser'; // Редірект на головну сторінку або іншу
              } else {
                alert('Login failed!');
              }
            })
            .catch(error => {
              console.error('Error:', error);
              alert('An error occurred during login.');
            });
  });
</script>-->

</body>
</html>
