<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/css/basicStyle.css">
  <link rel="stylesheet" type="text/css" href="/css/logReg.css">
</head>
<body>
<h2>Login Page</h2>

<form id="loginForm">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

<div id="message" class="message"></div>


<script>
  document.getElementById('loginForm').addEventListener('submit', async function (e) {
    e.preventDefault(); // Зупиняє стандартне відправлення форми

    // Отримання даних з форми
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    try {
      // Відправка POST-запиту до REST API
      const response = await fetch('/auth/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ username, password }),
      });

      // Обробка відповіді
      const messageDiv = document.getElementById('message');
      if (response.ok) {
        const data = await response.text();
        messageDiv.style.color = 'green';
        messageDiv.textContent = data; // Вивід повідомлення про успішний логін
        window.location.href = '/parser';
      } else {
        const errorText = await response.text();
        messageDiv.style.color = 'red';
        messageDiv.textContent = errorText; // Вивід повідомлення про помилку
      }
    } catch (error) {
      // Виведення помилки у разі проблем із запитом
      const messageDiv = document.getElementById('message');
      messageDiv.style.color = 'red';
      messageDiv.textContent = 'Error: Unable to connect to the server.';
    }
  });
</script>

</body>
</html>
