<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Зміна пароля</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/basicStyle.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/logReg.css}">
</head>
<body>
<div class="container">
  <h1>Зміна пароля</h1>
  <!-- Відображення помилки -->
  <div th:if="${error}" class="error" th:text="${error}"></div>
  <!-- Форма зміни пароля -->
  <form th:action="@{/settings/passwordChange}" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class="form-group">
      <label for="oldPassword">Старий пароль:</label>
      <input type="password" id="oldPassword" name="oldPassword" required>
    </div>
    <div class="form-group">
      <label for="newPassword">Новий пароль:</label>
      <input type="password" id="newPassword" name="newPassword" required>
    </div>
    <button type="submit">Змінити пароль</button>
  </form>
</div>
</body>
</html>
