<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/css/basicStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/logReg.css">
</head>
<body>
<h2>Registration Page</h2>

<form id="registration-form">
    <div>
        <label for="name">Username:</label>
        <input type="text" id="name" name="name" required />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirmPassword" required />
    </div>
    <div style="color: red; display: none;" class="error-message">Error message</div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>

<script src="/js/register.js"></script>
</body>
</html>
